@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<h2>The Authors:</h2>
<br />
<h3>Frank Egelhoff</h3>
<p>Frank has spent what has seemed like an eternity in the army, working artillery to take out challenges from afar. And he is encouraged to update this section with his own blurb</p>
<br />
<h3>Eli</h3>
<p>Transparency, accountability, and personal freedom are my 3 core tenents that I try to live my life by. I am a software developer with an interest in edge computing and its applications in agriculture 
    I believe using technology to augment a farmer's capabilities and taking a lot of the low level work off their shoulders allows them to use the time and invest in their farm itself 
    allowing them to focus on high level aspects. Things like developing a marketing plan, preparing for local farmer's markets, delivering to customers, or even taking the time to coordinate a transtition 
    to a more sustainable farming style.
</p>