@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="parallax"></div>
<div class="text-center">
    <h1 class="display-4">Farm, Food, Family</h1>
    <p>Here at Soil 'N Sunshine we are on a mission to give transparent access to local food sources. Many people might not know about all the local options available to them!
        We aim to give a user friendly interface that shows all available options whilst still giving farmers the flexibility they need to deliver their products. Farmers, and a
        robust and resillient food supply, are key to a nations defense.
    </p>
    <img src="images/soilnsunshine_svg.png"/>
</div>
<div class="row" style="display: inline-flex;">
    <div class="col">
        <h1 class="display-4">Eli</h2>
        <p> Transparency, accountability, and personal freedom are my 3 core tenents that I try to live my life by. I am a software developer with an interest in edge computing and its applications in agriculture 
            I believe using technology to augment a farmer's capabilities and taking a lot of the low level work off their shoulders allows them to use the time and invest in their farm itself 
            allowing them to focus on high level aspects. Things like developing a marketing plan, preparing for local farmer's markets, delivering to customers, or even taking the time to coordinate a transtition 
            to a more sustainable farming style.
        </p>
    </div>
    <div class="col">
        <img src="images/profile_pic.jpg" style="border-radius: 50%; width: 65%; height: auto; float: right;"/>
    </div>
</div>