<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SoilNSunshine</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navSpace">
              <div class="row w-100">
                <div class="col">
                    <ul class="nav p-lg-5">
                        <li class="nav-item font-weight-bold">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Practices">Practices</a>
                        </li>
                        <li class="nav-item font-weight-bold">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">About</a>
                        </li>
                        <li class="nav-item font-weight-bold align-middle">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Shop">Shop</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                      <a class="imageCenter" asp-area="" asp-page="/Index">
                            <img src="images/soilnsunshine_svg.png" alt="Soil N Sunshine" style="width:120px;"> 
                      </a>
                </div>
                <div class="col">
                  <div class="imageCenter display-4"><p>Soil 'N Sunshine</p></div>
                </div>
              </div>
        </nav>
    </header>
    <div class="parallax"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - <a asp-area="" asp-page="/Index">Soil 'N Sunshine</a> - <a asp-area="" asp-page="/Practices">Practices</a> - <a asp-area="" asp-page="/About">About</a> - <a asp-area="" asp-page="/Shop">Shop</a> - <a asp-area="" asp-page="/Privacy">Privacy</a><img src="images/soilnsunshine_svg.png" style="width:120px; float:right;" />
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
